/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF


It looks like we have 2 main sections, a containing element with the text flowing from top to bottom, and the image of the Spotify player on the right.
Position the Spotify logo absolutely according to the green div.
*/

* {

}


